# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/heyama

# S3 Storage (Cloudflare R2 ou autre S3-compatible)
S3_USE_LOCAL=false
S3_BUCKET=heyama-bucket
S3_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
S3_REGION=auto
S3_ACCESS_KEY=<your-access-key>
S3_SECRET_KEY=<your-secret-key>